aside > div {
    margin-bottom: 20px;
}

aside input[type="text"]:focus {
    outline: none;
    box-shadow: none;
}

.rating-filter i {
    font-size: 20px;
}

.hotel-card {
    height: 210px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}

.hotel-card__img-wrapper {
    height: 100%;
    max-width: 235px;
    overflow: hidden;
}

.hotel-card__img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.3);
    transition: .3s transform;
}

.hotel-card__img:hover {
    transform: scale(1);
}

.hotel-card__content {
    padding: 20px 20px 50px;
}

.hotel-card__details {
    padding: 15px 15px 50px;
    max-width: 150px;
}

.hotel-card__content__wrapper {
    border-bottom: 1px solid #cccccc;
}

.modal-wrapper .modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper .modal .card {
    width: 30vw;
}

.map-box {
    height: 300px;
}